
<html>
    
<div style="background-image: url('/images/');background-size:cover;height:100vh;width:100vw;position:fixed;">
</div>

<div class="menue">
    <!--<div class="clips" onclick="window.location.replace('/clips')">CLIPS</div>-->
    <div class="logoDiv"></div><!--<div class="thinLine"></div>-->
</div>

<div id="petAdRiUp" class="addBlockPetitionRightUp">Please Pause AddBlock to See The Full Content </div>
<div id="petAdLiUp" class="addBlockPetitionRightDown">Please Pause AddBlock to See The Full Content</div>

<div class="litleHeader" id="bookh">BOOKS YOU SHOULD HAVE READ:</div>
<div class="rightDiv1" id="addContainerRight">
    
    <a href="http://www.amazon.com/gp/product/1594633665/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1594633665&linkCode=as2&tag=buz07a-20&linkId=ESOVO7BUFKWACQGE" onclick="javascript:window.open(this.href,'', '');return false;"><img class="frameAmazone" id="book1" border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=1594633665&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=buz07a-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=buz07a-20&l=as2&o=1&a=1594633665" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
    
    
    <a href="http://www.amazon.com/gp/product/1476746583/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1476746583&linkCode=as2&tag=buz07a-20&linkId=HYEJVGTGZAAG65JY" onclick="javascript:window.open(this.href,'', '');return false;"><img class="frameAmazone" id="book2" border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=1476746583&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=buz07a-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=buz07a-20&l=as2&o=1&a=1476746583" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />


</div>

<div class="leftDiv1" id="addContainerLeft">
    
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- myEnglishAdd/index -->
    <ins class="adsbygoogle"
        style="display:inline-block;width:160px;height:600px"
        data-ad-client="ca-pub-7450773263285554"
        data-ad-slot="3896570625"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
</div>


<div class="centralDiv" style="top: 12px;">
    

    {{#articlesData}}

    <div  id="article_{{id}}" class="article" style="background-image: url('/images/article_{{id}}/buzzImg_1.jpg');">
        <div id="backward_{{id}}" class="backward" onclick="backPicture({{id}}, {{numberofpages}})"></div>
        <div id="forward_{{id}}" class="forward" onclick="nextPicture({{id}}, {{numberofpages}})"></div>
        <div id="article_blur_{{id}}" class="blurr" style="background-image: url('/images/article_{{id}}/buzzImg_blurr.jpg');"onmouseover="articleOver({{id}})" onmouseout="articleOut({{id}})" onclick="nextPicture({{id}}, {{numberofpages}})"></div>

        <div id="article_dark_{{id}}" class="articleTitle" style="background-image: url('/images/article_{{id}}/buzzImg_dark.jpg');">
            <div style="width:100%;height:28px;"></div>{{title}}</div>
        
        <div class="articleMenue">

            <a href="http://twitter.com/home?status=http://buzzme.zone/socialArticle/{{id}} via @BuzzMeZone" data-via="BuzzMeZone" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=400,width=555,left=250,top=200');return false;">
            <div class="socialButton" style="margin-left:6px; background-image: url('/images/twitter.jpg');background-size:cover;" ></div></a>
       
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://buzzme.zone/socialArticle/{{id}}" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=400,width=555,left=250,top=200');return false;"><div class="socialButton" style="background-image: url('/images/facebook.jpg'); background-size:cover;"></div></a>
 
 <a href="http://www.pinterest.com/pin/create/button/?url=www.buzzme.zone%2FsocialArticle%2F{{id}}&media=http%3A%2F%2Fbuzzme.zone%2Fimages%2Farticle_{{id}}%2FbuzzImg_1.jpg&description=Next%20stop%3A%20Pinterest" data-pin-do="buttonPin" data-pin-config="above" data-pin-color="red" data-pin-height="28" data-pin-do="buttonPin" data-pin-config="above" data-pin-color="red" data-pin-height="28" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=400,width=555,left=250,top=200');return false;">
            <div class="socialButton" style="background-image: url('/images/pinterest.jpg');background-size:cover;"></div>
            </a>

            <a href="https://plus.google.com/share?url=http://buzzme.zone/socialArticle/{{id}}" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=400,width=555,left=250,top=200');return false;">
            <div class="socialButton" style="background-image: url('/images/google+.jpg');background-size:cover;"></div></a>
        </div>
        
    </div>
    
    <div class="googleContainer">
       <!-- {{{amazone}}} -->
    </div>
    
    {{/articlesData}}
    
    <div class="buttonImpressum" onclick="window.location.replace('/impressum')">IMPRESSUM</div>
    
</div>
</html>
