<!DOCTYPE html>
<html>
<head> 
 <title>{{title}}</title>
 <meta property="og:image"         content="http://www.buzzme.zone/images/article_7/buzzImg_socialw.jpg" /> 
</head>

<body>

<h1>{{title}}</h1>
<img src="/images/article_{{id}}/buzzImg_socialw.jpg"  alt="article {{id}}" height="400px" width="560px">

<!--<p> There are a lot for crazzy stories, that should be known...
    BuzzMeZone is a collection of all the marvelous things going on all over the World.
    
    the Content is available in different formats, like articles or short clips, too stunning pictures...

</p>-->

<img src="/images/article_{{id}}/buzzImg_1.jpg" alt="" height="" width="">
<script>
   window.location.replace('/singleArticle/'+ {{id}});
</script>


</body>

</html>

