<!DOCTYPE html>
<html>
<head> 
 <title>{{title}}</title>
 
</head>

<body>

<h1>{{title}}</h1>
<img src="/images/article_{{id}}/buzzImg_socialw.jpg"  alt="article {{id}}" height="400px" width="560px">

<p> To get more stunning stories and pictures, visit our website: www.buzzme.zone <br>
    Get the latest Buzz !
</p>

<img src="/images/article_{{id}}/buzzImg_1.jpg" alt="More Crazzy Sories on Buzz Me Zone" height="" width="">
<script>
   window.location.replace('/singleArticle/'+ {{id}});
</script>


</body>

</html>

