<!DOCTYPE html>
<html>
<head> 
 <title>{{title}}</title>
</head>

<body>

<h1>{{title}}</h1>
<img src="/images/article_{{id}}/buzzImg_w.jpg"  alt="article {{id}}" height="400px" width="560px">

<!--<p> There are a lot for crazzy stories, that should be known...
    BuzzMeZone is a collection of all the marvelous things going on all over the World.
    
    the Content is available in different formats, like articles or short clips, too stunning pictures...

</p>-->
<script>
   window.location.replace('/singleArticle/'+ {{id}});
</script>


</body>

</html>

