<!DOCTYPE html>
<html>
<head> 
 <title>{{title}}</title>
</head>

<body>

<h1>{{title}}</h1>
<img src="/images/article_{{id}}/buzzImg_1.jpg"  alt="article {{id}}" height="400px" width="560px">

<!--<script>
   window.location.replace('/singleArticle/'+ {{id}});
</script>-->


</body>

</html>

