<!DOCTYPE html>
<html>
<head> 
 <title>{{title}}</title>
 
</head>

<body>
<h1>buzzme</h1>
<h2>Buzz Me on www.buzzme.zone</h2>

<h1>{{title}}</h1>
<img src="/images/article_{{id}}/buzzImg_socialw.jpg"  alt="Crazzy Sories on Buzz Me Zone" height="400px" width="560px">

<p> More Stunning Stories and Pictures on www.buzzme.zone ! <br>
    Get The Latest Buzz...
</p>

<img src="/images/article_{{id}}/buzzImg_1.jpg" alt="Crazzy Sories on Buzz Me Zone" height="" width="">
<script>
   window.location.replace('/singleArticle/'+ {{id}});
</script>


</body>

</html>

